[submodule "Framework/vendor/spdlog"]
	path = Framework/vendor/spdlog
	url = https://github.com/purplemoonboi/spdlog.git
[submodule "Framework/vendor/ImGui"]
	path = Framework/vendor/ImGui
	url = https://github.com/ocornut/imgui.git
