[submodule "Framework/vendor/spdlog"]
	path = Framework/vendor/spdlog
	url = https://github.com/purplemoonboi/spdlog.git
[submodule "Framework/vendor/ImGuizmo"]
	path = Framework/vendor/ImGuizmo
	url = https://github.com/purplemoonboi/ImGuizmo.git
[submodule "Framework/vendor/yaml-cpp"]
	path = Framework/vendor/yaml-cpp
	url = https://github.com/purplemoonboi/yaml-cpp.git
